# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages
mobile/android/local.properties
mobile/ios/Flutter/Flutter.podspec

# Claves y secretos
*.env
supabase_keys.dart

# Sistema
.DS_Store
